<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="secondsection.css">
</head>
<body>
<div class="page">

    <div class="secondSection">
      
        <div class="imageContainer"><img src="../BeTheme-Project/assets/images/agency7-about-pic5.png" alt="" class="secondSection_image" alt="" class="secondSection_image"></div>
        <div class="secondSection__text">
        <div class="secondSection__div"><h3>Laura Nicky</h3></div>
        <div class="secondSection__div"><p class="position">Account manager</p></div>
        <div class="secondSection__div"><p class="accountManagerInto">Convallis neque convallis urna curabitur laoreet felis dolor commodo.</p></div>
        <div class="secondSection__div"><h5><a href="tel:+61383766284">+61 (0) 3 8376 6284</a></h5></div>
        <div class="secondSection__div"><h5><a href="mailto:noreply@envato.com">noreply@envato.com</a></h5></div>
        </div>
    </div>
    </div>
</body>
</html>