<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./apps.css">
    <title>Document</title>
</head>
<body>
    
    
    <div class="section2-column2">
    
        <div class="parent-columnspart">
            <div class="column2-part1">
            <div class="">
                <img src="./img/agency7-icon5.png" alt="">
            </div>

         <div class="parent-numbers">
            <div class="bold-number">
                <span>50</span>
             </div>

             <div>
                <span class="bold-number">k+</span>
             </div>
         </div>   
         

         <div>
            <h4>Installed apps</h4>
         </div>
         </div>
        
         
    
    
          <div class="column2-part2">
            <div>
                <img src="./agency7-icon4.png" alt="">
            </div>

         
          <div class="parent-numbers">
            <div>
                <span class="bold-number">10</span>
             </div>
             <div>
                <span class="bold-number">k+</span>
             </div>
          </div>


          <div>
            <h4>Happy users</h4>
          </div>
          </div>
         </div>
         
        
       </div>


</body>
</html>