<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./product-component.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="home__container">
      <h1 class="home__title">Choose your <span>plan</span></h1>
      <span class="home__subtitle"
        >Cubilia egestas urna amet dictumst duis ipsum nulla lacinia sapien
        consequat.</span
      >

      <div class="home__links">
        <a href="#" class="home__link"
          >Write to our Agent & Get personal pricing</a
        >

        <ul>
          <li><iconify-icon icon="gg:facebook"></iconify-icon></li>
          <li><iconify-icon icon="mdi:twitter"></iconify-icon></li>
          <li><iconify-icon icon="akar-icons:linkedin-fill"></iconify-icon></li>
        </ul>
      </div>
    </div>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>
