* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

.section1 {
  background-color: #f2f4f8;
  height: 475px;
  border-bottom: 1px solid #a9a9a9;
}

.section2 {
  margin-bottom: 100px;
  margin-top: 70px;
}

.section3 {
  margin-bottom: 10px;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: #a8a8a8;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  margin: 8px 0;
}

.iconify {
  margin: 0 5px;
}

.author-link {
  text-decoration: none;
  border-bottom: 1px dotted #a8a8a8;
  color: #a8a8a8;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.section4-column3 {
  margin: 0 10px;
}

.post-title {
  color: #252525;
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  margin: 0 5px 1px 5px;
}

.parent-section4-parts {
  top: 10px;
  margin-top: 40px;
}

.post-title-link {
  text-decoration: none;
  color: #252525;
}

.about__container {
  padding: 0 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  position: relative;
}

h1 {
  padding: 0 0;
  height: 212px;
  color: #252525;
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
  margin: 80px 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.highlight-underline {
  position: relative;
  padding: 0;
  border-radius: unset;
  background-color: unset;
  background-image: unset;
}

.highlight-word {
  position: relative;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
}

.highlight-border {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20%;
  width: calc(100% + 0.3em);
  height: 15%;
  margin-left: -0.15em;
  transform: skew(-12deg) translateX(0);
  background-color: rgb(0, 137, 247);
  z-index: -1;
}

.section1-img {
  width: 100%;
}

.img-section1 {
  width: 100%;
  margin: 0;
  border-radius: 22px;
  overflow: hidden;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #232323;
}

.section1-img2 {
  width: 100%;
  overflow: hidden;
}

.img-section2 {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.img-section4 {
  width: 100%;
  margin: 0;
}

.img-section4:hover {
  scale: 1.1;
  transition: scale 1s ease-in-out, filter 1s ease-in-out;
}

.parent-section2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 18px;
}

.parent-section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 80px;
}

.section2-column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 35px;
}

h6 {
  color: #3d38ff;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  padding: 2px 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

h4 {
  color: #252525;
  text-align: center;
  background-position: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

button {
  border: none;
  margin-bottom: 25px;
  background-color: #f2f3fe;
  padding: 2px 0px;
  border-radius: 13px;
}

.bold-number {
  text-align: center;
  font-size: 30px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 30px;
  color: #252525;
  font-weight: 600;
}

.parent-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.parent-columnspart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 21px;
}

.word3 {
  position: relative;
  background-color: unset;
  color: #252525;
}

.underline3 {
  position: absolute;
  content: "";
  color: rgb(23, 209, 48);
  width: 200px;
  height: 8px;
  transform: skew(150deg);
  background-color: rgb(23, 209, 48);
}

.gray-line {
  --mfn-divider-spacing: 15px;
  --mfn-divider-height: 20px;
  --mfn-divider-border-width: 3px;
  --mfn-divider-border-color: rgba(22, 25, 34, 0.25);
  --mfn-divider-pattern-color: #161922;
  --mfn-divider-icon-color: #0089f7;
  --mfn-divider-addon-width: unset;
  --mfn-divider-addon-height: unset;
}

.parent-section3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #a9a9a9;
}

.title-section3 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 27px;
  font-weight: 700;
  margin: 15px 0;
}

.parent-section3-column2-part2 {
  display: flex;
  flex-direction: column;
  padding: 0 23px;
}

.section4-column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

h3 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

.section3-column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.section3-column2 {
  display: flex;
  flex-direction: column;
}

.section3-column3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.section3-column4 {
  display: flex;
  flex-direction: column;
}

.section3-column2-part1 {
  display: flex;
  flex-direction: column;
}

.section3-column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.Allan {
  width: 100%;
}

.Allan-img {
  width: 100%;
}

.Allan-Carter {
  margin: 7px 0;
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  color: #252525;
}

.Euismod {
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #252525;
}

.CEO {
  margin: 5px 0;
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #a9a9a9;
}

.Dapibus {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #252525;
  text-align: left;
}

.section3-column2-part2 {
  margin-bottom: 70px;
  padding: 0;
  position: relative;
}

.section3-column3-div {
  width: 30px;
}

.section3-column3-img {
  width: 100%;
}

.border-Dapibus {
  background-color: #fafafa;
  padding: 30px 20px 15px 25px;
  border-radius: 20px;
}

@media screen and (min-width: 480px) {
  .title {
    width: 484px;
  }

  h1 {
    padding: 0;
    height: 212px;
    font-size: 45px;
    line-height: 53px;
    font-weight: 600;
    margin: 80px 0;
  }

  h6 {
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    margin: 0;
    padding: 2px 12px;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
  }

  h3 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    padding: 0 3px;
  }

  .bold-number {
    font-size: 30px;
    color: #252525;
    font-weight: 600;
  }

  .author {
    line-height: 21px;
  }
}

@media screen and (min-width: 615px) {
  .title {
    width: 484px;
  }
  .section1-img {
    width: 474px;
  }

  .parent-section2 {
    width: 484px;
  }

  .parent-section3 {
    width: 484px;
  }

  .parent-section4 {
    width: 496px;
  }
  .Euismod {
    line-height: 21px;
  }

  .CEO {
    line-height: 21px;
  }

  .post-title-link {
    font-size: 14px;
    line-height: 21px;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    width: 405px;
  }

  .section1-img {
    width: 708px;
  }

  .parent-section2 {
    width: 708px;
    margin-top: 340px;
  }

  .parent-section3 {
    width: 670px;
  }

  .parent-section4 {
    width: 708px;
  }

  .Euismod {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .Dapibus {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .CEO {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .parent-section2 {
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-size: 51px;
    line-height: 60px;
    font-weight: 600;
  }

  h6 {
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
  }

  .bold-number {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
  }
  .parent-columnspart {
    column-gap: 30px;
    width: 315px;
  }

  .section2-column1 {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-self: stretch;
    text-align: right;
    margin: 0 75px 0 0;
  }

  .section3-column1 {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    align-self: stretch;
  }

  .section3-column2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 40px;
  }

  .section3-column3 {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }

  .section3-column4 {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin-bottom: 115px;
  }

  .parent-section3-column2-part2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 297px;
  }

  .Allan {
    width: 153px;
    margin-top: 15px;
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
  }

  .section3-column2-part2 {
    width: 177px;
  }

  h3 {
    width: 448px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
  }

  h4 {
    color: #252525;
    text-align: left;
    background-position: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
  }

  .section4-column1 {
    align-items: flex-start;
  }

  .parent-section4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .s4 {
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
    column-gap: 15px;
  }

  .author {
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .f {
    display: flex;
    flex-direction: row;
  }

  .post-title-link {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
  }
}

@media only screen and (min-width: 959px) {
  .title {
    width: 602px;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
  }

  .section1-img {
    width: 940px;
  }

  .parent-section2 {
    width: 910px;
    margin-top: 440px;
  }

  .parent-section3 {
    width: 840px;
  }

  .parent-section4 {
    width: 940px;
  }

  .Euismod {
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }

  .CEO {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }

  .parent-section2 {
    display: flex;
    flex-direction: row;
  }

  h6 {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
  }

  .bold-number {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
  }
  .parent-columnspart {
    column-gap: 30px;
    width: 315px;
  }

  .section2-column1 {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-self: stretch;
    text-align: right;
    margin: 0 75px 0 0;
  }

  .section3-column1 {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    align-self: stretch;
  }

  .section3-column2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 40px;
  }

  .section3-column3 {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }

  .section3-column4 {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin-bottom: 115px;
  }

  .parent-section3-column2-part2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
  }

  .Allan {
    width: 220px;
    margin-top: 15px;
    font-size: 266px;
    line-height: 38px;
    font-weight: 500;
  }
  .Dapibus {
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }

  .section3-column2-part2 {
    width: 177px;
  }

  h3 {
    width: 603px;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    text-align: left;
  }

  h4 {
    color: #252525;
    text-align: left;
    background-position: center;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
  }

  .section4-column1 {
    align-items: flex-start;
  }

  .parent-section4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .s4 {
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
    column-gap: 15px;
  }

  .author {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }

  .f {
    display: flex;
    flex-direction: row;
  }

  .a {
    display: flex;
    flex-wrap: nowrap;
  }

  .post-title-link {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
  }
}
/*footer*/
.footer a {
  text-decoration: none;
}

.footer {
  opacity: 1;
  width: 100%;
  height: 1150px;
  background-color: #fafafa;
  margin: 90px 0 0 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 45px 18px 45px;
  background-color: #fafafa;
}

.footer .footer-parts h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 35px;
}

.footer .footer-parts2 h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 35px;
}

.footer .footer-parts p {
  margin: 12px 0;
}

.footer-parts {
  margin-bottom: 58px;
}

.products {
  padding: 10px 0;
}

.footer-img {
  padding-right: 15px;
  border-radius: 18px;
}

.list {
  color: var(--color-main);
  margin-bottom: 90px;
}

.list--space {
  margin-bottom: 120px;
}

.list p {
  position: relative;
  margin: 0 0 0 22px;
  padding: 0 0 2px 0;
  display: block;
}

.list p a {
  color: var(--color-main);
  padding-bottom: 8px;
  display: inline-block;
  vertical-align: bottom;
  justify-content: center;
  align-items: center;
}

.list p a:hover {
  text-decoration: underline;
  color: var(--color-highlight);
}

.list p span {
  color: var(--color-highlight);
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  vertical-align: top;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 5px;
  left: -18px;
}

.footer__copyright {
  padding: 0 10px 60px 10px;
  line-height: 2rem;
  background-color: #fafafa;
}

.copyright__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  padding: 0 33px;
}

.arrow-scroll {
  width: 47px;
  height: 47px;
  border: 3px solid var(--color-main);
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 2px;
}

.arrow {
  scroll-behavior: smooth;
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.iconify {
  font-size: 1.7rem;
}

.copyright-sub p {
  line-height: 19px;
}

.copyright-sub p a:hover {
  text-decoration: underline;
  color: var(--color-highlight);
}

@media screen and (min-width: 480px) {
  /*-----------Footer-------------*/
  .container {
    margin-bottom: 0;
  }
  .footer-img {
    padding-bottom: 2px;
  }
  .footer-parts2 {
    margin-top: 2px;
  }
  .footer .footer-parts p {
    line-height: 21px;
  }
  .footer .footer-parts h3 {
    font-size: 2rem;
  }
  .footer .footer-parts2 h3 {
    font-size: 2rem;
  }
  .list p {
    padding-bottom: 3px;
  }
  .arrow-scroll {
    width: 47px;
    height: 47px;
    margin-bottom: 17px;
  }
  .footer__copyright {
    line-height: 2.1rem;
  }
  .copyright-sub p {
    line-height: 21px;
  }
  .copyright__container {
    margin-top: 3px;
  }
}
@media screen and (min-width: 615px) {
  /*-----------Footer-------------*/
  .footer {
    height: 1090px;
    line-height: 29px;
    padding-top: 100px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .footer-parts {
    margin: 0 0 49px;
  }
  .footer-parts,
  .footer-parts2 {
    width: 525px;
    display: block;
    align-items: start;
    justify-content: start;
  }
  .footer-parts2 {
    margin: 0 0 30px;
  }
  .footer-parts2 .list {
    margin: 0 0 78px;
  }
  .footer-parts2 .list--space {
    margin-bottom: 117px;
  }
  .list p a {
    padding: 0;
  }
  .list p span {
    bottom: 3px;
    left: -18px;
  }
  .footer .footer-parts p {
    margin-top: 7px;
  }
}
@media (min-width: 768px) {
  /*-----------Footer-------------*/
  .footer {
    height: 551px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5px;
    /*background-color: #ffba00;*/
  }
  .container {
    padding: 0 43px;
    flex-direction: row;
    align-items: start;
    justify-content: flex-end;
  }
  .products .footer-img {
    margin-right: 15px;
    padding: 0;
  }
  .footer-parts {
    width: 330px;
  }
  .footer-parts2 {
    width: 330px;
    margin-left: 25px;
  }
  .footer-parts,
  .footer-parts2 {
    margin-bottom: 50px;
  }
  .footer__response {
    width: 341px;
  }
  .footer .footer-parts h3 {
    font-size: 2.2rem;
    line-height: 32px;
    font-weight: 500;
  }
  .footer .footer-parts p {
    font-size: 1.4rem;
    line-height: 24px;
  }
  .footer .footer-parts2 h3 {
    font-size: 2.2rem;
    line-height: 32px;
    font-weight: 500;
  }
  .list p {
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 7px;
  }
  .list p span {
    bottom: 2px;
    left: -18px;
  }
  .list.list--space {
    width: 50%;
    padding-bottom: 55px;
    margin-bottom: 0;
  }
  .list.list--space2 {
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 54px;
    margin-right: 10px;
  }
  .row {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .footer__copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px 0;
  }
  .copyright-sub {
    font-size: 1.4rem;
    font-weight: 400;
    order: -1;
  }
  .copyright__container {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }
  .arrow-scroll {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 959px) {
  /*-----------Footer-------------*/
  .footer {
    margin: 165px 0 0 0;
    padding: 0 0 0 0;
    height: 581px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .container {
    width: 950px;
    height: 427px;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding: 70px 12px 0 12px;
  }
  .footer-parts,
  .footer-parts2 {
    width: 958px;
    margin-bottom: 20px;
  }
  .footer__response {
    width: 100%;
    padding-bottom: 200px;
  }
  .footer__response2 {
    padding-bottom: 80px;
  }
  .footer .footer-parts h3 {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 38px;
  }
  .footer .footer-parts2 h3 {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 38px;
  }
  .footer .footer-parts p {
    width: 450px;
    font-size: 1.6rem;
    line-height: 28px;
    margin-top: 17px;
  }
  .list p {
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: 400;
  }
  .list p span {
    bottom: 2px;
    left: -20px;
    font-weight: 400;
  }
  .list.list--space2 {
    padding-left: 8px;
  }
  .row {
    padding-left: 5px;
  }
  .footer__copyright {
    width: 100%;
    margin: 0;
    padding-top: 0;
  }
  .copyright__container {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin-top: 50px;
    margin-bottom: 6px;
  }
  .copyright-sub {
    font-size: 1.6rem;
    line-height: 28px;
  }
}
@media screen and (min-width: 1240px) {
  /*-----------Footer-------------*/
  .container {
    width: 1095px;
  }
  .footer .footer-parts h3 {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 38px;
  }
  .footer .footer-parts p {
    width: 516px;
  }
}/*# sourceMappingURL=contact.css.map */
