<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <link rel="stylesheet" href="./post.css">
    <title>Document</title>
</head>
<body>
    
    <div class="parent-section4-parts">
    
        <div class="section4-column2">
            <div class="section1-img2">
                <img class="img-section4" src="img/agency7-blog-pic5-960x720.png" alt="">
                </div>
        </div>

        <div class="section4-column3">
            <div class="">

             <div class="parent-author">
                <p class="author">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="mdi:user" class="iconify iconify--mdi"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4Z"></path></svg>
                <a class="author-link" href="#">admin on</a>
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="mdi:clock-outline" class="iconify iconify--mdi"><path fill="currentColor" d="M12 20a8 8 0 0 0 8-8a8 8 0 0 0-8-8a8 8 0 0 0-8 8a8 8 0 0 0 8 8m0-18a10 10 0 0 1 10 10a10 10 0 0 1-10 10C6.47 22 2 17.5 2 12A10 10 0 0 1 12 2m.5 5v5.25l4.5 2.67l-.75 1.23L11 13V7h1.5Z"></path></svg>
                </p>
                <span class="author">
                December 17, 2021
                </span>
             </div>
                <p class="post-title"><a class="post-title-link" href="">Design advices</a></p>
            
            </div>

        </div>

    </div>

</body>
</html>