<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./specialist.css">
</head>
<body>
    
 <div class="parent-section3-part2">
  <div class="section3-column2">
                 <div class="Allan"><img class="Allan-img" src="./img/agency7-about-pic2.png" alt=""></div>
                
                <div class="parent-section3-column2-part2">
                    <h4 class="Allan-Carter">Allan Carter</h4>
                <p class="CEO">CEO</p>
                <p class="Euismod">Euismod quam accumsan cubilia feugiat sed potenti sapien primis faucibus mollis donec posuere fames orci fusce molestie faucibus rutrum fermentum aliquet pulvinar elit imperdiet enim odio orci non curabitur eu consequat gravida mattis aptent euismod quisque sagittis ultrices eleifend dui nibh tristique ipsum mi tincidunt nec imperdiet massa fusce ac ultrices conubia eleifend semper eget porttitor ut taciti etiam luctus lobortis cubilia lacus nulla viverra nam lorem litora torquent aliquam erat curabitur.</p>
                 </div>
                 
  <div>
 </div>

 
 
 
</body>
</html>